CPBT_0001_1_control_WXS,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0001_1_control_WXS.R1.fastq.gz,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0001_1_control_WXS.R2.fastq.gz
CPBT_0001_1_tumor_RNASeq,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0001_1_tumor_RNASeq.R1.fastq.gz,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0001_1_tumor_RNASeq.R2.fastq.gz
CPBT_0001_1_tumor_WXS,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0001_1_tumor_WXS.R1.fastq.gz,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0001_1_tumor_WXS.R2.fastq.gz
CPBT_0003_1_control_WXS,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0003_1_control_WXS.R1.fastq.gz,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0003_1_control_WXS.R2.fastq.gz
CPBT_0003_1_tumor_RNASeq,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0003_1_tumor_RNASeq.R1.fastq.gz,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0003_1_tumor_RNASeq.R2.fastq.gz
CPBT_0003_1_tumor_WXS,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0003_1_tumor_WXS.R1.fastq.gz,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0003_1_tumor_WXS.R2.fastq.gz
CPBT_0004_1_tumor_RNASeq,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0004_1_tumor_RNASeq.R1.fastq.gz,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0004_1_tumor_RNASeq.R2.fastq.gz
CPBT_0004_1_tumor_WXS,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0004_1_tumor_WXS.R1.fastq.gz,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0004_1_tumor_WXS.R2.fastq.gz
CPBT_0005_1_control_WXS,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0005_1_control_WXS.R1.fastq.gz,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0005_1_control_WXS.R2.fastq.gz
CPBT_0005_1_tumor_RNASeq,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0005_1_tumor_RNASeq.R1.fastq.gz,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0005_1_tumor_RNASeq.R2.fastq.gz
CPBT_0005_1_tumor_WXS,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0005_1_tumor_WXS.R1.fastq.gz,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0005_1_tumor_WXS.R2.fastq.gz
CPBT_0006_1_control_WXS,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0006_1_control_WXS.R1.fastq.gz,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0006_1_control_WXS.R2.fastq.gz
CPBT_0006_1_tumor_RNASeq,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0006_1_tumor_RNASeq.R1.fastq.gz,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0006_1_tumor_RNASeq.R2.fastq.gz
CPBT_0006_1_tumor_WXS,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0006_1_tumor_WXS.R1.fastq.gz,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0006_1_tumor_WXS.R2.fastq.gz
CPBT_0007_1_control_WXS,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0007_1_control_WXS.R1.fastq.gz,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0007_1_control_WXS.R2.fastq.gz
CPBT_0007_1_tumor_RNASeq,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0007_1_tumor_RNASeq.R1.fastq.gz,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0007_1_tumor_RNASeq.R2.fastq.gz
CPBT_0007_1_tumor_WXS,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0007_1_tumor_WXS.R1.fastq.gz,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0007_1_tumor_WXS.R2.fastq.gz
CPBT_0008_1_control_WXS,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0008_1_control_WXS.R1.fastq.gz,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0008_1_control_WXS.R2.fastq.gz
CPBT_0008_1_tumor_RNASeq,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0008_1_tumor_RNASeq.R1.fastq.gz,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0008_1_tumor_RNASeq.R2.fastq.gz
CPBT_0008_1_tumor_WXS,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0008_1_tumor_WXS.R1.fastq.gz,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0008_1_tumor_WXS.R2.fastq.gz
CPBT_0009_1_control_WXS,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0009_1_control_WXS.R1.fastq.gz,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0009_1_control_WXS.R2.fastq.gz
CPBT_0009_1_tumor_RNASeq,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0009_1_tumor_RNASeq.R1.fastq.gz,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0009_1_tumor_RNASeq.R2.fastq.gz
CPBT_0009_1_tumor_WXS,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0009_1_tumor_WXS.R1.fastq.gz,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0009_1_tumor_WXS.R2.fastq.gz
ntrol_WXS,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0004_1_control_WXS.R1.fastq.gz,https://s3-us-west-2.amazonaws.com/cgl-driver-projects-encrypted/treehouse/pnoc-samples/CPBT_0004_1_control_WXS.R2.fastq.gz
